data/tl_2010_27_zcta510-below-povertyline.dbf
data/tl_2010_27_zcta510-below-povertyline.prj
data/tl_2010_27_zcta510-below-povertyline.qpj
data/tl_2010_27_zcta510-below-povertyline.shp
data/tl_2010_27_zcta510-below-povertyline.shx